.form-set-input {
  height: 54px;
  background-color: #495063;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.form-set-list {
  background-color: #495063;
  border-radius: 10px;
  padding: 15px;
}

.form-set-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* loading */

.el-loading-spinner {
  height: 100% !important;
}
.el-loading-spinner .path {
  stroke-width: 4px !important;
  stroke: #fd5d65 !important;
}
.el-loading-mask {
  background-color: rgb(255 255 255 / 69%) !important;
}
