.bh-title {
  color: #da626c;
}

.bh-describe {
  color: #949bb8;
}

.bh-chevron-right {
  color: #cad1e4;
}

.br-bottom {
  width: 26.5rem;
  border-bottom: 1px solid #626882;
}

.bh-text-number {
  color: #afb7cd;
}

.bh-text-location {
  color: #51a0ed;
}

.bg-button-active {
  background-color: #fd5d65;
}

.bg-button-clear {
  background-color: #495063;
}
