.title-description {
  font-weight: 500;
  color: #727694;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-description {
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.title-description-no-padding {
  font-weight: 500;
  color: #727694;
  font-size: 18px;
}

.description-no-padding {
  font-weight: 500;
  color: #727694;
  font-size: 16px;
}

.text-description-no-padding {
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
}

.title-print {
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0px;
  padding: 10px;
  text-transform: none;
  line-height: 1;
}

.title-verified {
  font-weight: 800;
  color: #ffffff;
  font-size: 29px;
  letter-spacing: 0px;
  padding: 10px;
  text-transform: none;
  line-height: 1;
}

.text-describe {
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}

.text-note {
  font-size: 16px;
  padding: 10px;
}

.title-detail-explore {
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
}
.title-click {
  font-weight: 500;
  color: #cc727a;
  font-size: 24px;
}

.text-option {
  font-size: 19px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  width: max-content;
  margin-right: 20px;
  margin-bottom: 20px;
}
.text-option:hover {
  border: 1px solid #bf7883;
  color: #bf7883;
}

.item-option {
  font-size: 19px;
  border: 1.5px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  width: max-content;
  margin-right: 20px;
  margin-bottom: 20px;
}
.hr-bg {
  background-color: #414858;
  height: 1.5px;
  border-width: 0;
}

.bh-margin-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.bh-margin-description {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Setup - new */
.padding-button {
  padding: 8px;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.padding-input {
  width: 100%;
  padding: 18px;
  border-radius: 10px;
  font-size: 20px;
}

.padding-input-setting {
  width: 100%;
  padding: 13px;
  border-radius: 10px;
  font-size: 16px;
  outline: 0;
}

.padding-title {
  font-size: 28px;
  font-weight: 500;
  padding: 10px 0 10px 0;
}

.padding-describe {
  font-size: 18px;
  padding: 10px 0 10px 0;
  font-weight: 500;
}

.padding-describe-item {
  font-size: 14px;
  font-weight: 500;
}

.title-packages {
  font-size: 22px;
  font-weight: 500;
  padding: 5px 0 5px 0;
}

.describe-packages {
  font-size: 16px;
  font-weight: 500;
  color: #727694;
}

.padding-input-option {
  width: 100%;
  padding: 18px;
  border-radius: 15px;
  font-size: 20px;
  margin-bottom: 24px;
}

.padding-text-option {
  font-size: 20px;
  font-weight: 500;
  padding: 5px 0 5px 0;
}
.padding-describe-option {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0 5px 0;
}

.padding-check-option {
  width: 100%;
  padding: 18px;
  border-radius: 15px;
  font-size: 20px;
  margin-bottom: 2px;
}

.font-title {
  font-size: 28px;
  font-weight: 600;
}
.font-describe {
  font-size: 18px;
  font-weight: 500;
}

.el-slider__bar {
  height: 3px !important;
  background-color: #fd5d65 !important;
}

.el-slider__button {
  width: 22px !important;
  height: 22px !important;
  border: 5px solid #fd5d65 !important;
  background-color: #fd5d65 !important;
}

.el-slider__runway {
  height: 3px !important;
  background-color: #7a505d !important;
}

.form-pack {
  width: 100%;
  text-align: center;
  height: 100%;
  background: none;
  padding: 28px;
}

.size-package {
  background-color: #202020;
  border-radius: 16px;
  height: 46rem;
  padding: 21px;
  margin-top: 4rem;
}

.not-check {
  display: none;
}

.checked {
  display: block;
}

.fa-circle-check {
  color: #fd5d65;
}

.fa-circle {
  color: #b8bbca;
}

.bg-checked {
  background-color: white;
  border-radius: 20px;
}

.v-modal-bg {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
}

.size-icon-default {
  font-size: 24px;
}
/* Default body */
.body-page-default {
  height: 80%;
}
.height-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.height-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.border-interest {
  border-radius: 9px;
  border: 1.5px solid #ffffff;
  padding: 8px;
}
.border-interest-checked {
  border-radius: 8px;
  border: 1.5px solid #95a1b8;
  color: #95a1b8;
}

/* text cố định */

.title-dialog {
  font-size: 26px;
  font-weight: 700;
  padding: 10px 0 10px 0;
  letter-spacing: 0.5px;
}
.describe-dialog {
  font-size: 16px;
  padding: 10px 0 10px 0;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.name-option-dialog {
  font-size: 18px;
  padding: 10px 0 10px 0;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.style-option-click {
  font-size: 15px;
  letter-spacing: 0.5px;
  border: 1.4px solid #ffffff;
  border-radius: 8px;
  padding: 0.35rem;
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
}

/* icon */
.ic-option {
  color: #929db9;
  font-size: 1.25rem;
}

/* border */
.bor-bottom {
  border-bottom: 1px solid #5f6a86;
  padding-top: 12px;
  padding-bottom: 12px;
}
.bor-bottom-not {
  padding-top: 12px;
  padding-bottom: 12px;
}

.bor-top-bottom {
  border-bottom: 1px solid #5f6a86;
}
