:root[theme="light"] {
  --bg-color: #ffffff;
  --color-text: #ffffff;
  --color-title: #000000;
  --color-describe: #6c7995;
  --color-button-default: #74809a;
  --color-button-active: #fd5d65;
  --color-button-supper: #01b983;
  --color-button-like: #f6a800;
  --color-button-text: #ffffff;
  --color-input-bg: #eef1fa;
  --color-input-text: #919cb8;
  --color-input-focus: #000000;
  --color-border-button-sign: #0084ff;
  --color-border-button-select: #000000;
  --color-border-button-active: #fd5d65;
  --color-text-error: #ff0a09;
  --color-text-select: #000000;
  --color-text-button-no-bg: #fd5c64;
  --color-icon: #929db9;
  --color-icon-active: #ffffff;
  --color-title-icon: #79849e;
  --color-describe-setup: #5e6a85;
  --color-placeholder-input: #747f9a;
  --color-from: #eef1f8;
  --color-dialog: #ffffff;
  --color-border-bottom: #eae9ee;
  --color-focus-code: #e7e9f5;
  --color-top-bottom: #ccd2e2;
  --color-radio: #000000;
  --color-verified: #1c92ff;
}

.theme-light {
  background-color: var(--bg-color);
  color: var(--color-text);

  // login
  .describe-text {
    color: var(--color-describe);
  }
  .bg-color-default {
    background-color: var(--bg-color);
  }

  .color-title-default {
    color: var(--color-title);
  }

  .button-default {
    background-color: var(--color-button-default);
    color: var(--color-button-text);
  }

  .button-active {
    background-color: var(--color-button-active);
    color: var(--color-button-text);
  }

  .input-default {
    background-color: var(--color-input-bg);
    color: var(--color-input-focus);
  }

  .option-default {
    border: 1.4px solid var(--color-border-button-select);
    color: var(--color-input-focus);
  }
  .option-active {
    border: 1.4px solid var(--color-border-button-active);
    color: var(--color-border-button-active);
  }
  // Home
  .title-default {
    color: var(--color-title);
  }
  .border-default {
    border: 1.5px solid var(--color-border-button-select);
  }
  .border-active {
    border: 1.5px solid var(--color-border-button-active);
  }
  .border-login {
    border-radius: 10px;
    border: 1.5px solid var(--color-border-button-sign);
  }

  .bg-default {
    background-color: var(--color-from);
  }

  .bg-dialog-default {
    background-color: var(--color-dialog);
  }
  .bg-border-bottom {
    border-bottom: 1px solid var(--color-border-bottom);
  }

  .bh-chevron-right {
    color: var(--color-icon) !important;
  }

  .bg-shadow-right {
    background: rgb(73, 80, 99);
    background: linear-gradient(
      270deg,
      var(--color-from) 7%,
      rgba(240, 233, 233, 0) 22%
    );
  }
  .bg-shadow-left {
    background: rgb(73, 80, 99);
    background: linear-gradient(
      270deg,
      var(--color-from) 7%,
      rgba(240, 233, 233, 0) 22%
    );
  }
  .el-textarea__inner,
  .el-input__inner {
    border-radius: 10px !important;
    background-color: var(--color-from) !important;
    color: var(--color-title) !important;
    border: 1px solid var(--color-from) !important;
  }

  .color-button-default {
    color: var(--color-text);
  }

  .el-slider__runway {
    height: 3px !important;
    background-color: #ccd1e2 !important;
  }

  .iti__country-list {
    background-color: var(--color-from) !important;
  }

  .border-image {
    border-radius: 10px;
    border: 1px solid var(--color-border-bottom);
  }

  .digit-box:focus {
    background-color: var(--color-focus-code);
    outline: none;
  }

  .border-top {
    border-top: 1px solid var(--color-top-bottom);
  }
  .border-bottom {
    border-bottom: 1px solid var(--color-top-bottom);
  }

  .fa-circle {
    color: var(--color-radio);
  }

  .color-text-verified {
    color: var(--color-verified);
  }
}
