@media only screen and (min-width: 360px) {
  .layout-web {
    background: #801aba;
  }
  .layout-detail {
    width: 100%;
    height: 100%;
  }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (min-width: 600px) {
  .layout-web {
    background: #b5e3ae;
  }
  .layout-detail {
    width: 34rem;
    height: 100%;
  }
  .phone-login,
  .email-login,
  .welcome,
  .create-profile {
    padding: 18px;
  }
  .footer-body {
    gap: 50px;
    font-size: 44px;
  }

  .btns {
    min-width: 450px !important;
  }
  .btns img:nth-child(2n + 1) {
    width: 85px !important;
  }

  .btns img:nth-child(2n) {
    width: 100px !important;
  }

  .size-hight {
    width: 66px;
  }

  .top-dash-explore {
    top: 10rem;
  }

  .h-likes {
    height: calc(100% - 8rem);
  }

  .item-user {
    height: 20rem;
  }

  .image-detail-avatar {
    width: 76px;
    height: 76px;
  }

  .option-setting {
    gap: 60px;
  }
  .w-button {
    width: 76%;
  }
}
/* Ipad */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .layout-web {
    background: #9fd2e3;
  }
  .layout-detail {
    width: 34rem;
    height: 100%;
  }
  .phone-login,
  .email-login,
  .welcome,
  .create-profile {
    padding: 26px;
  }
  .footer-body {
    gap: 50px;
    font-size: 44px;
  }

  .btns {
    min-width: 450px !important;
  }
  .btns img:nth-child(2n + 1) {
    width: 85px !important;
  }

  .btns img:nth-child(2n) {
    width: 100px !important;
  }

  .size-hight {
    width: 66px;
  }

  .top-dash-explore {
    top: 10rem;
  }

  .h-likes {
    height: calc(100% - 8rem);
  }

  .item-user {
    height: 20rem;
  }

  .image-detail-avatar {
    width: 76px;
    height: 76px;
  }

  .option-setting {
    gap: 60px;
  }

  .w-form-life {
    width: 30rem;
    height: 80%;
    background-color: #434a5d;
  }

  .h-title-close {
    height: 5%;
  }

  .h-form-data {
    height: calc(100% - 5%);
  }

  .h-title-data {
    height: 10%;
  }

  .h-data-life {
    height: calc(100% - 17%);
  }
  .w-button {
    width: 76%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .layout-web {
    background: #fd5d65;
  }

  .layout-detail {
    width: 34rem;
    height: 100%;
  }

  .footer-body {
    gap: 50px;
    font-size: 44px;
  }

  .btns {
    min-width: 450px !important;
  }
  .btns img:nth-child(2n + 1) {
    width: 85px !important;
  }

  .btns img:nth-child(2n) {
    width: 100px !important;
  }

  .size-hight {
    width: 66px;
  }

  .top-dash-explore {
    top: 10rem;
  }

  .h-likes {
    height: calc(100% - 8rem);
  }

  .item-user {
    height: 20rem;
  }

  .image-detail-avatar {
    width: 76px;
    height: 76px;
  }

  .option-setting {
    gap: 60px;
  }

  .w-button {
    width: 76%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .layout-web {
    background: rgb(131, 131, 212);
  }
  .layout-detail {
    width: 34rem;
    height: 100%;
  }

  .footer-body {
    gap: 56px;
    font-size: 46px;
  }

  .body-page-home {
    height: 80%;
  }

  .btns {
    min-width: 500px !important;
    gap: 8px;
  }
  .btns img:nth-child(2n + 1) {
    width: 85px !important;
  }

  .btns img:nth-child(2n) {
    width: 100px !important;
  }

  .size-hight {
    width: 66px;
  }

  .top-dash-explore {
    top: 10rem;
  }

  .h-likes {
    height: calc(100% - 8rem);
  }

  .item-user {
    height: 20rem;
  }

  .image-detail-avatar {
    width: 76px;
    height: 76px;
  }

  .option-setting {
    gap: 60px;
  }
  /* Css Login */

  .w-button {
    width: 76%;
  }
  /* Css detail user */
  .icon-close-infor {
    top: 31.5rem;
  }

  /* setting */
  .header-detail {
    height: 10%;
  }

  .body-detail {
    height: 80%;
  }
}
