.title-user {
  font-weight: 600;
  font-size: 30px;
}

.title-click-ic {
  font-weight: 600;
  font-size: 18px;
}
.describe-user {
  font-size: 18px;
  letter-spacing: 1px;
}
.text-age {
  font-size: 22px;
  padding-top: 3px;
}
.title-item {
  font-size: 18px;
  letter-spacing: 1px;
}
.describe-report {
  font-size: 12px;
  letter-spacing: 1px;
}
.size-icon {
  font-size: 0px;
}

.title-size {
  padding: 15px;
  font-size: 24px;
}

.size-describe {
  padding: 15px;
  font-size: 16px;
}

.title-input-item {
  font-size: 15px;
}

/* Border */

.bd-input {
  border-bottom: 1px solid #d0d1e2;
}
.bd-input-top {
  border-top: 1px solid #d0d1e2;
}
.size-icon-hello {
  font-size: 40px;
}

.el-input {
  font-size: 16px !important;
}

.pic {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 9.33827%;
  background-size: 120.755%;
}
.style-form {
  align-items: center;
  border-radius: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.bg-life {
  border-radius: 10px;
  /* padding: 15px; */
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.style-form-single {
  border-radius: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.border-form {
  border-radius: 10px;
  border: 1px solid #dce0e9; /* Đường viền của thẻ */
  box-shadow: 0px 0px 5px rgba(153, 153, 153, 0.3); /* Hiệu ứng đổ bóng */
}

.reverse-layout {
  direction: rtl; /* Đảo ngược hướng dòng hiển thị */
  text-align: right; /* Canh lề phải cho các thành phần văn bản */
}

.chevron-left {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.h-form-title {
  height: 6%;
}
.h-form-body {
  height: calc(100% - 6%);
}

//
.bh-pd {
  padding: 0.35rem;
}

.w-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.w-ellipsis-about {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
